@use 'sass:color';
@use 'sass:map';
@use 'quasar/src/css/variables' as q;
@use 'quasar-variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

a {
  text-decoration: none;
  color: $primary;

  &:hover,
  &:focus {
    color: color.adjust($primary, $lightness: -15%);
  }
}

::selection {
  background: $primary;
  color: $dark;
}

// gap-{breakpoint}-{size}
// E.g. gap-sm-md
@each $sizeName, $width in q.$sizes {
  @each $spaceName, $space in q.$spaces {
    @media (min-width: $width) {
      .gap-#{$sizeName}-#{$spaceName} {
        gap: map.get($space, 'x');
      }
    }
  }
}

.text-xs {
  font-size: 0.75em;
}
.text-sm {
  font-size: 0.9em;
}
.text-md {
  font-size: 1em;
}
.text-lg {
  font-size: 1.5em;
}
.text-xl {
  font-size: 2em;
}

.opacity-20 {
  opacity: 0.2;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-100 {
  opacity: 1;
}

.text-opacity-20 {
  color: color-mix(in srgb, currentColor 20%, transparent);
}
.text-opacity-40 {
  color: color-mix(in srgb, currentColor 40%, transparent);
}
.text-opacity-60 {
  color: color-mix(in srgb, currentColor 60%, transparent);
}
.text-opacity-80 {
  color: color-mix(in srgb, currentColor 80%, transparent);
}
.text-opacity-100 {
  color: color-mix(in srgb, currentColor 100%, transparent);
}

.bg-opacity-20 {
  background-color: color-mix(in srgb, currentColor 20%, transparent) !important;
}
.bg-opacity-40 {
  background-color: color-mix(in srgb, currentColor 40%, transparent) !important;
}
.bg-opacity-60 {
  background-color: color-mix(in srgb, currentColor 60%, transparent) !important;
}
.bg-opacity-80 {
  background-color: color-mix(in srgb, currentColor 80%, transparent) !important;
}
.bg-opacity-100 {
  background-color: color-mix(in srgb, currentColor 100%, transparent) !important;
}

.border-opacity-20 {
  border-color: color-mix(in srgb, currentColor 20%, transparent);
}
.border-opacity-40 {
  border-color: color-mix(in srgb, currentColor 40%, transparent);
}
.border-opacity-60 {
  border-color: color-mix(in srgb, currentColor 60%, transparent);
}
.border-opacity-80 {
  border-color: color-mix(in srgb, currentColor 80%, transparent);
}
.border-opacity-100 {
  border-color: color-mix(in srgb, currentColor 100%, transparent);
}

.flex-grow {
  flex-grow: 1;
}
.flex-grow-none {
  flex-grow: 0;
}

.bordered {
  border-width: 1px;
  border-style: solid;
}
.break-all {
  word-break: break-all;
}
.gh-sprite {
  image-rendering: pixelated;
}
.relative {
  position: relative;
}

// Scrollbar customization for Chrome, Edge and Safari
// Firefox has poor customization controls and can thus get boned
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8d8d8d;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #f0c523;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #f0c523;
}
