@use 'quasar/src/css/variables' as q;

$primary: #ffd125;
$secondary: #e87a00;
$accent: #e87a00;

$dark: #0f0f0f;
$dark-page: #303030;

$positive: #24c024;
$negative: #e33434;
$info: #5490ff;
$warning: #e87a00;

$typography-font-family: 'Open Sans', sans-serif;
$text-weights: (
  thin: 300,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 600,
  bolder: 700,
);

// $button-font-weight: 600; // or 400 if you prefer thinner
$button-padding: 4px 12px;
